#videos{
    width: 1000% ;
    height: 500px;
    border: none;
}
travel mainDiv{
    border: ipx solid lightgray;
}
.travel mainDiv img{
    width: 100%;
}
.travel mainDiv h5 , .travel  mainDiv p{
    margin: 20px;
}